[submodule "shields/LEDMatrix/lib/WEMOS_Matrix_LED_Shield_Arduino_Library"]
	path = shields/LEDMatrix/lib/WEMOS_Matrix_LED_Shield_Arduino_Library
	url = https://github.com/wemos/WEMOS_Matrix_LED_Shield_Arduino_Library.git
